.workspace {
  min-height: 100vh;
  background: #f7f9fc;
}

.workspace-content {
  padding-top: 90px;
}

@media (max-width: 900px) {
  .workspace-content {
    padding-top: 150px;
  }
}

@media (max-width: 560px) {
  .workspace-content {
    padding-top: 210px;
  }
}